<h1>Twitter Coffee Images</h1>
<h2> TEST </h2>
<h3>残り検索可能回数：<%= @search_limit_remaining %> ×100ツイート</h3>
<h3>検索可能回数リセット時刻：<%= @search_limit_reset %></h3>
<div class="container">
  <% @tweets.each do |tweet| %>
      <% if tweet.media?%>
        <% tweet.media.each do |media| %>
          <% if media.instance_of?(Twitter::Media::Photo) %>
            <div><%= link_to image_tag(media.media_url_https.to_s, size:'150x150'), media.media_url_https.to_s %></div>
          <% end %>
        <% end %>
      <% end %>
  <% end %>
</div>